input[type = "text"] {
    width: 90%;
    padding: 10px;
    margin: 4px 4% ;
    border: 1px solid rgb(61, 221, 173);
    border-radius: 4px;
    box-sizing: border-box;
}
input[type = "tel"] {
    width: 90%;
    padding: 10px;
    margin: 4px 4% ;
    border: 1px solid rgb(61, 221, 173);
    border-radius: 4px;
    box-sizing: border-box;
}
input[type = "email"] {
    width: 90%;
    padding: 10px;
    margin: 4px 4% ;
    border: 1px solid rgb(61, 221, 173);
    border-radius: 4px;
    box-sizing: border-box;
}
input[type = "date"] {
    width: 90%;
    padding: 10px;
    margin: 4px 4% ;
    border: 1px solid rgb(61, 221, 173);
    border-radius: 4px;
    box-sizing: border-box;
}
.selecterino{
    width: 90%;
    padding: 10px;
    margin: 4px 4% ;
    border: 1px solid rgb(61, 221, 173);
    border-radius: 4px;
    box-sizing: border-box;
    appearance: auto;
    color: rgb(61, 221, 173);
    
}
.mergLeftpro{
    margin-left: 4%;
    margin-right: 4%;
}
#angabenBox{
    width: 90%;
    margin:  4%;
    border-radius: 4px;
    box-sizing: border-box;
}
.hintergrundBild{
    max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .image-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

  }
  .image-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  #spacing20{
    width: 20px;
  }